:root {
  --lcdfg: #253900;
  --lcdbg: olive;
  --lcdfont: monospace;
}
body {
  margin: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background: linear-gradient(to top, cyan,  blue 20%, purple 100%);
  display: block;
  height: 100%;
  padding: 1em;
}

tomodochi150 {
  display: block;
  border: 15px solid maroon;
  margin: 5px;
  background: maroon;
  border-radius: 15px;
}

/* black plastic buttons */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

nav a {
  display: inline-block;
  color: black;
  transform: rotate(-15deg);
  font-weight: bold;
  text-shadow: 1px 1px #ff000080;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:before {
  content: '\'';
  display: block;
  background-color: black;
  height: 2em;
  width: 1em;
  margin-top: 0.5em;
  margin-bottom: 5px;
  border-radius: 15px;
  transform: rotate(-15deg);
  border: 3px outset purple;
  color: magenta;
}

brand {
  display: block;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 0.3em;
  text-shadow: 1px 1px #ff000080;
}

brand stripes {
  display: block;
}

lcd input, lcd button {
  background: none;
  border: 2px solid var(--lcdfg);
  font-family: var(--lcdfont);
  color: var(--lcdfg);
}

lcd button.primary {
  background-color: var(--lcdfg);
  color: var(--lcdbg);
}

lcd {
  display: block;
  background: var(--lcdbg);
  color: var(--lcdfg);
  font-weight: bold;
  font-size: 1.2em;
  font-family: var(--lcdfont);
  border: 4px inset maroon;
  padding: 0.5em;
  border-radius: 4px;
}
