:root {
  --lcdfg: #253900;
  --lcdbg: olive;
  --lcdfont: monospace;
  --lcdborder: 2px solid var(--lcdfg);
}
body {
  margin: 0;
  /*
  background-attachment: fixed;
  background-repeat: no-repeat;
  background: linear-gradient(to top, cyan,  blue 20%, purple 100%);
  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* align-content: center;*/

  padding: 1em;
  background-image: radial-gradient(circle,  #680068 61%, #330959 0%);
  background-repeat: repeat;
  background-position: 0 0, 50px 50px;
  background-size: 3em 3em;
}

tomodachi150 {
  display: block;
  border: 5px outset red;
  padding: 15px;
  margin: 5px;
  background: maroon;
  border-radius: 15px;
  box-shadow: 4px 4px 18px #15000d;
}


/* black plastic buttons */
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav a {
  display: inline-block;
  color: black;
  transform: rotate(-15deg);
  font-weight: bold;
  text-shadow: 1px 1px #ff000080;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.5em;
  width: 5em;
}
nav a:before { /* dummy button gfx hack with awesome highlight*/
  content: '\'';
  display: block;
  background-color: black;
  height: 2em;
  width: 1em;
  margin-top: 0.5em;
  margin-bottom: 5px;
  border-radius: 15px;
  transform: rotate(-15deg);
  border: 3px outset midnightblue;
  color: blue;
  font-size: 17px;
}

brand {
  display: block;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 0.3em;
  text-shadow: 1px 2px #ff000080;
  font-family: cursive;
}

brand stripes {
  display: block;
}

lcd input, lcd button, lcd textarea, lcd progress {
  background: none;
  border: 2px solid var(--lcdfg);
  font-family: var(--lcdfont);
  color: var(--lcdfg);
  margin: 1px 0px;
}

lcd button {
  background-color: var(--lcdfg);
  color: var(--lcdbg);
  font-weight: normal;
}

lcd button:disabled {
  color: var(--lcdbg);
  font-weight: bold;
  background-image: radial-gradient(circle,  var(--lcdbg) 35%, var(--lcdfg) 0%);
  background-repeat: repeat;
  background-position: 0 0, 2px 2px;
  background-size: 3px 3px;
  border: 1px dashed var(--lcdfg)
}

lcd button.alt {
  font-weight: bold;
  color: var(--lcdfg);
  background: none;
}
lcd progress[value] {
  background-color: var(--lcdbg);
}
lcd progress[value]::-webkit-progress-bar, lcd progress[value]::-moz-progress-bar {
  background-color: var(--lcdfg);
}
lcd {
  display: block;
  background: var(--lcdbg);
  color: var(--lcdfg);
  font-weight: bold;
  font-size: 1.2em;
  font-family: var(--lcdfont);
  border: 4px inset maroon;
  padding: 0.5em;
  border-radius: 4px;
  width: 320px;
  transition: height 2s;
  min-height: 400px;
}

lcd h2 {
  margin: 0;
  padding: 0;
  padding-bottom: 2px;
  font-size: 0.9em;
  border-bottom: 2px solid var(--lcdfg);
  margin-bottom: 0.5em;
}

lcd pill {
  background-color: var(--lcdfg);
  color: var(--lcdbg);
  border-radius: 8px;
  padding: 0px 4px;
}

slime {
  display: inline-block;
  font-size: 1.7em;
  padding: 0.2em;
  border-radius: 100%;
  transform: rotate(90deg) scaleX(0.8);
  font-weight: normal;
  background-color: var(--lcdbg);
  color: var(--lcdfg);
  border: var(--lcdborder);
}

slime.selected {
  background-color: var(--lcdfg);
  color: var(--lcdbg);
}
@media (min-width: 640px) {
  tomodachi150 {
    max-width: 640px;
  }
}

